<!DOCTYPE html>
<html ng-app="webRatesApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <title>Webrates – more transparent freelancer rates</title>
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified JavaScript -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      svg .line {
        stroke: red;
        stroke-width: 5;
        fill: none;
      }
    </style>
  </head>

  <body role="document" ng-controller="MyCtrl">

    <!-- Navagation / Topbar -->
    <div class="navbar" role="navigation">
      <div class="container">
          <h1>
            Webrates
            <span>
              – more transparent freelancer rates
            </span>
          </h1>
      </div>
    </div>

    <div class="container" role="main">
      <div class="page-header">
        <div ng-hide="dataform">
          <p class="intro">Negotiating a fair hourly rate for your freelance services is easier if you know what others in your field charge. Find out, and help making freelancer rates more transparent by submitting your own. It only takes a minute and is completely anonymous!</p>
          <p class="cta">
            <!--<a href="#" ng-init="dataform = false" ng-click="dataform = !dataform" class="btn btn-primary btn-lg" role="button">Contribute &raquo;</a>-->
          </p>
        </div>

        <form>

          <fieldset>
            <label>Hourly rate in US dollars: $</label>
            <!--<input type="range" ng-model="newForm.experience" name="experience" min="0" max="12">-->
            <input type="number" ng-model="newForm.rate" size="5">
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Your Job Title</legend>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Designer">Designer</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Developer">Developer</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Product">Product</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Marketing">Marketing</label>
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Your Gender</legend>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Female">Female</label>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Male">Male</label>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Other">Other</label>
          </fieldset>

          <fieldset>
            <label class="fieldset_title">Your Age</label>
            <!--<input type="range" ng-model="newForm.age" name="age" min="14" max="90">-->
            <input type="number" ng-model="newForm.age" size="3">
          </fieldset>

          <fieldset>
            <label class="fieldset_title">Your experience in years</label>
            <!--<input type="range" ng-model="newForm.experience" name="experience" min="0" max="12">-->
            <input type="number" ng-model="newForm.experience" size="3">
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Location of employer</legend>

            <label><input type="radio" ng-model="newForm.location" name="location" value="San Francisco">San Francisco</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="Chicago">Chicago</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="New York">New York</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="L.A.">L.A.</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="London">London</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="Tokyo">Tokyo</label>
          </fieldset>

          <input type="submit"
                 class="btn btn-primary"
                 ng-click="submitForm();" value="Submit">

        </form>

        <!-- Show this when form is submited. -->
        <div ng-show="thankyou">
          <p>Thank you!</p>
        </div>
      </div>
      <div class="explore">

        <div class="container_filter">
          <h3>Filters</h3>

          <fieldset>
            <legend>Job Title</legend>
            <label><input type="radio" name="jobtitle" value="Designer">Designer</label>
            <label><input type="radio" name="jobtitle" value="Developer">Developer</label>
            <label><input type="radio" name="jobtitle" value="Product">Product</label>
            <label><input type="radio" name="jobtitle" value="Marketing">Marketing</label>
          </fieldset>

          <fieldset>
            <legend>Gender</legend>
            <label><input type="radio" name="sex" value="Designer">Female</label>
            <label><input type="radio" name="sex" value="Developer">Male</label>
            <label><input type="radio" name="sex" value="Product">Other</label>
          </fieldset>

          <fieldset>
            <label>Age</label>
            <input type="range" name="age" min="14" max="90">
          </fieldset>

          <fieldset>
            <label>Experience in years</label>
            <input type="range" name="experience" min="0" max="12">
          </fieldset>

          <fieldset>
            <legend>Location of employer</legend>
            <button type="button" class="btn btn-xs">San Francisco</button>
            <button type="button" class="btn btn-xs">Berlin</button>
            <button type="button" class="btn btn-xs">New York</button>
            <button type="button" class="btn btn-xs">L.A.</button>
            <button type="button" class="btn btn-xs">London</button>
            <button type="button" class="btn btn-xs">Tokyo</button>
            <input type="text" placeholder="Other">
          </fieldset>

        </div>

        <div class="container_graph">
          <svg id="graph" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
        </div>

      </div>

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        webrates is a <a href="http://onewebforall.us/">OneWebForAll.us</a> project. This project is brought to you by @kriesse @harthvader @zii @briantford @JakeHartnell @jeanie_4000 @sfrdmn.
      </div>
    </footer>

    </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.2/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script src="scripts/main.js"></script>
    <script>
      angular.module('webRatesApp', ["firebase"])
        .factory("rateService", ["$firebase", function($firebase) {
          var ref = new Firebase("https://sweltering-fire-6680.firebaseio.com/rates");
          return $firebase(ref);
        }])
        .controller('MyCtrl', function ($scope, rateService, cleanForm) {
          $scope.data = rateService;
          $scope.newForm = cleanForm();
          var numericFields = ['age', 'experience'];
          $scope.submitForm = function () {
            numericFields.forEach(function (field) {
              $scope.newForm[field] = parseInt($scope.newForm[field], 10);
            });
            $scope.data.$add($scope.newForm);
            $scope.newForm = cleanForm();
          };
        })
        .constant('defaultFormData', {
          age: 30,
          experience: 2
        })
        .factory('cleanForm', function (defaultFormData) {
          return function () {
            return angular.copy(defaultFormData);
          };
        });
    </script>
  </body>
</html>
