<!DOCTYPE html>
<html ng-app="webRatesApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <title>Webrates – more transparent freelancer rates</title>
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified JavaScript -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      svg .line {
        stroke: red;
        stroke-width: 5;
        fill: none;
      }
    </style>
  </head>

  <body role="document">

    <!-- Navagation / Topbar -->
    <div class="navbar" role="navigation">
      <div class="container">
        <h1>
          Webrates
          <span>
            more transparent freelancer rates
          </span>
        </h1>
      </div>
    </div>


    <header class="header">
      <div class="container">
        <p class="intro">
          Negotiating a fair hourly rate for your freelance services is easier if you know what others in your field charge. Find out, and help making freelancer rates more transparent by submitting your own. It only takes a minute and is completely anonymous.
        </p>
      </div>
    </header>


    <div class="container data_entry" role="main" ng-controller="MyCtrl">

      <form>

        <p>
          Help other freelancers and share the hourly rate your charged on your last job:
        </p>

        <div class="form_group form_group_1">
          <fieldset>
            <label class="fieldset_title">Your hourly rate</label>
            <input class="input_big" type="number" ng-model="newForm.rate" size="5" min="0" max="400"/>
            <ul class="currency_list">
              <li>
                <label><input type="radio" name="currency" value="USD"
                              ng-model="newForm.currency">&dollar;</label>
              </li>
              <li>
                <label><input type="radio" name="currency" value="EUR"
                              ng-model="newForm.currency">&euro;</label>
              </li>
            </ul>
          </fieldset>
        </div>


        <p>Whoo, thank you! You can make this number even more useful by telling us a bit more about you and the job:</p>

        <div class="form_group form_group_2">
          <fieldset class="tags">
            <legend class="fieldset_title">Your Job Title</legend>
            <label class="first-child"><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Designer">Designer</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Developer">Developer</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Product">Product</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Marketing">Marketing</label>
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Your Gender</legend>
            <label class="first-child"><input type="radio" ng-model="newForm.sex" name="sex" value="Female">Female</label>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Male">Male</label>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Other">Other</label>
          </fieldset>

          <fieldset class="fieldset_inline"  style="margin-right: 2em">
            <label class="fieldset_title">Your Age</label>
            <input type="number" ng-model="newForm.age" size="3" min="13" max="80">
          </fieldset>

          <fieldset class="fieldset_inline" style="max-width: 60%">
            <label class="fieldset_title">Your experience <i>in years</i></label>
            <input type="number" ng-model="newForm.experience" size="3" min="0" max="12">
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Location <i>of your client</i></legend>

            <label class="first-child"><input type="radio" ng-model="newForm.location" name="location" value="San Francisco">San Francisco</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="Chicago">Chicago</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="New York">New York</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="L.A.">L.A.</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="London">London</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="Tokyo">Tokyo</label>
          </fieldset>

          <input type="submit"
                 class="btn btn-primary"
                 ng-click="submitForm();" value="Submit">
        </div>


      </form>

      <!-- Show this when form is submited. -->
      <div ng-show="thankyou">
        <p>Thanks for sharing your hourly rate. This will help others do charge fair prices for their work. <a href="">Submit another hourly rate</a></p>
      </div>

    </div> <!-- /container -->



    <div class="explore" ng-controller="QueryCtrl">
      <form oninput="filter_age_value.value = filter_age.valueAsNumber;
                     filter_exp_value.value = filter_exp.valueAsNumber">
      <div class="container">
        <div class="container_filter">
          <h3>Filters</h3>

          <fieldset class="tags tags_big">
            <label><input type="radio" name="currency" value="USD">&dollar;</label>
            <label><input type="radio" name="currency" value="EUR">&euro;</label>
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Job Title</legend>
            <label class="first-child"><input type="radio" ng-model="filters.jobtitle" name="jobtitle" value="Designer">Designer</label>
            <label><input type="radio" ng-model="filters.jobtitle" name="jobtitle" value="Developer">Developer</label>
            <label><input type="radio" ng-model="filters.jobtitle" name="jobtitle" value="Product">Product</label>
            <label><input type="radio" ng-model="filters.jobtitle" name="jobtitle" value="Marketing">Marketing</label>
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Gender</legend>
            <labelclass="first-child"><input type="radio"
                          ng-model="filters.sex"
                          name="sex" value="Female">Female</label>

            <label><input type="radio"
                          ng-model="filters.sex"
                          name="sex" value="Male">Male</label>

            <label><input type="radio"
                          ng-model="filters.sex"
                          name="sex" value="Other">Other</label>
          </fieldset>

          <fieldset class="fieldset_inline">
            <label class="fieldset_title">Age</label>
            <div class="slider">
              <input id="filter_age" type="range" name="age" min="13" max="80" value=30>
              <output name="filter_age_value" for="age">30</output>
            </div>
          </fieldset>

          <fieldset class="fieldset_inline" style="margin-right: 0">
            <label class="fieldset_title">Experience <i>in years</i></label>
            <div class="slider">
              <input id="filter_exp" type="range" name="experience" min="0" max="12" value=4>
              <output name="filter_exp_value" for="experience">4</output>
            </div>
          </fieldset>

          <fieldset class="tags">
            <legend class="fieldset_title">Location <i>of the client</i></legend>
            <label><input type="radio" ng-model="filters.location" name="location" value="San Francisco">San Francisco</label>
            <label><input type="radio" ng-model="filters.location" name="location" value="Chicago">Chicago</label>
            <label><input type="radio" ng-model="filters.location" name="location" value="New York">New York</label>
            <label><input type="radio" ng-model="filters.location" name="location" value="L.A.">L.A.</label>
            <label><input type="radio" ng-model="filters.location" name="location" value="London">London</label>
            <label><input type="radio" ng-model="filters.location" name="location" value="Tokyo">Tokyo</label>
          </fieldset>

        </div>
      </form>
        <div class="container_graph">
          <svg wr-chart wr-model="filteredData" id="graph" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
        </div>
      </div>

    </div>


    <footer class="footer">
      <div class="container">
        webrates is a <a href="http://onewebforall.us/">OneWebForAll.us</a> project. This project is brought to you by <a href="http://twitter.com/kriesse">@kriesse</a> <a href="http://twitter.com/harthvader">@harthvader</a> <a href="http://twitter.com/zii">@zii</a> <a href="http://twitter.com/briantford">@briantford</a> <a href="http://twitter.com/JakeHartnell">@JakeHartnell</a> <a href="http://twitter.com/jeanie_4000">@jeanie_4000</a> <a href="http://twitter.com/sfrdmn">@sfrdmn</a>. Please contribute and report bugs at <a href="https://github.com/zaach/webrates">github.com/zaach/webrates</a>.
      </div>
    </footer>

    </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.2/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script src="scripts/app.js"></script>
    <script>
      function checkRadioButtons() {
        $("input[type=radio]").parent().removeClass("active");
        $("input[type=radio]:checked").parent().addClass("active");
      }

      $(function() {
        checkRadioButtons();
        $("input[type=radio]").on("change", checkRadioButtons);
      })
    </script>
  </body>
</html>
