<!DOCTYPE html>
<html ng-app="webRatesApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <title>Webrates – </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.2/firebase.js'></script>
    <script type='text/javascript' src='scripts/main.js'></script>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" ng-controller="MyCtrl">

    <!-- Navagation / Topbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              Webrates
            </a>
            <span>
              lorem ipsum
            </span>
          </div>
      </div>
    </div>

    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <div>
          <h1>Title</h1>
          <p class="intro">Negotiating a fair hourly rate for your freelance services is easier if you know what others in your field charge. Find out, and help making freelancer rates more transparent by submitting your own. It only takes a minute and is completely anonymous!</p>
          <p class="cta">
            <!--<a href="#" ng-init="dataform = false" ng-click="dataform = !dataform" class="btn btn-primary btn-lg" role="button">Contribute &raquo;</a>-->
          </p>
        </div>

        <form>
          <fieldset>
            <legend>Job Title</legend>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Designer">Designer</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Developer">Developer</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Product">Product</label>
            <label><input type="radio" ng-model="newForm.jobtitle" name="jobtitle" value="Marketing">Marketing</label>
          </fieldset>

          <fieldset>
            <legend>Gender</legend>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Female">Female</label>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Male">Male</label>
            <label><input type="radio" ng-model="newForm.sex" name="sex" value="Other">Other</label>
          </fieldset>

          <fieldset>
            <label>Age</label>
            <!--<input type="range" ng-model="newForm.age" name="age" min="14" max="90">-->
            <input type="number" ng-model="newForm.age" size="3">
          </fieldset>

          <fieldset>
            <label>Experience in years</label>
            <!--<input type="range" ng-model="newForm.experience" name="experience" min="0" max="12">-->
            <input type="number" ng-model="newForm.experience" size="3">
          </fieldset>

          <fieldset>
            <legend>Location of employer</legend>

            <label><input type="radio" ng-model="newForm.location" name="location" value="San Francisco">San Francisco</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="Chicago">Chicago</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="New York">New York</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="L.A.">L.A.</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="London">London</label>
            <label><input type="radio" ng-model="newForm.location" name="location" value="Tokyo">Tokyo</label>
          </fieldset>

          <input type="submit"
                 class="btn btn-primary"
                 ng-click="submitForm();" value="Submit">

        </form>

        <!-- Show this when form is submited. -->
        <div ng-show="thankyou">
          <p>Thank you!</p>
        </div>
      </div>
   <div class="row">

  <div class="col-md-8">
    <p>
      This is where we present the data visualization.
    </p>
  </div>
  </div>

    </div> <!-- /container -->

    </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.2/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script src="scripts/main.js"></script>
    <script>
      angular.module('webRatesApp', ["firebase"])
        .factory("rateService", ["$firebase", function($firebase) {
          var ref = new Firebase("https://sweltering-fire-6680.firebaseio.com/rates");
          return $firebase(ref);
        }])
        .controller('MyCtrl', function ($scope, rateService) {
          $scope.data = rateService;
          $scope.newForm = {};
          $scope.submitForm = function () {
            $scope.data.$add($scope.newForm);
            $scope.newForm = {};
          };
        });
    </script>
  </body>
</html>
