/* line 1, ../sass/imports/_base.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 6, ../sass/imports/_base.scss */
body {
  margin: 0;
}

/* line 20, ../sass/imports/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 26, ../sass/imports/_base.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 30, ../sass/imports/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 35, ../sass/imports/_base.scss */
[hidden],
template {
  display: none;
}

/* line 38, ../sass/imports/_base.scss */
a {
  background: transparent;
}

/* line 42, ../sass/imports/_base.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 45, ../sass/imports/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 49, ../sass/imports/_base.scss */
b,
strong {
  font-weight: bold;
}

/* line 52, ../sass/imports/_base.scss */
dfn {
  font-style: italic;
}

/* line 56, ../sass/imports/_base.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 60, ../sass/imports/_base.scss */
small {
  font-size: 80%;
}

/* line 64, ../sass/imports/_base.scss */
img {
  border: 0;
}

/* line 67, ../sass/imports/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 70, ../sass/imports/_base.scss */
figure {
  margin: 1em 40px;
}

/* line 73, ../sass/imports/_base.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 83, ../sass/imports/_base.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 88, ../sass/imports/_base.scss */
button {
  overflow: visible;
}

/* line 92, ../sass/imports/_base.scss */
button,
select {
  text-transform: none;
}

/* line 98, ../sass/imports/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 103, ../sass/imports/_base.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 107, ../sass/imports/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: none;
}

/* line 112, ../sass/imports/_base.scss */
input {
  line-height: normal;
}

/* line 116, ../sass/imports/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 121, ../sass/imports/_base.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 124, ../sass/imports/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 131, ../sass/imports/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 135, ../sass/imports/_base.scss */
fieldset {
  border: none;
  padding: 0;
}

/* line 139, ../sass/imports/_base.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 143, ../sass/imports/_base.scss */
textarea {
  overflow: auto;
}

/* Colors */
/* line 1, ../sass/imports/_forms.scss */
fieldset {
  padding: 0;
  margin: 0 0 1em 0;
  border: none;
}

/* line 7, ../sass/imports/_forms.scss */
.fieldset_inline {
  display: inline-block;
  max-width: 48%;
  margin-right: 2%;
}

/* line 13, ../sass/imports/_forms.scss */
.form_group {
  margin: 1em 0 2em 0;
  padding: 1em 0;
  text-align: center;
}

/* line 18, ../sass/imports/_forms.scss */
.form_group_1 {
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  padding-top: 1.5em;
}
/* line 22, ../sass/imports/_forms.scss */
.form_group_1 fieldset {
  margin-right: 2em;
}
/* line 25, ../sass/imports/_forms.scss */
.form_group_1 fieldset, .form_group_1 input[type='submit'], .form_group_1 .submit {
  display: inline-block;
}

/* line 30, ../sass/imports/_forms.scss */
.form_text {
  color: #029c5d;
}

/* line 35, ../sass/imports/_forms.scss */
input[type='text'],
input[type='number'] {
  font-size: 1.25em;
  padding: .5em;
  border: 2px solid #b7bac5;
  max-width: 5em;
  border-radius: .25em;
  text-align: center;
}
/* line 42, ../sass/imports/_forms.scss */
input[type='text'].active, input[type='text']:hover, input[type='text']:focus, input[type='text']:active,
input[type='number'].active,
input[type='number']:hover,
input[type='number']:focus,
input[type='number']:active {
  border-color: #029c5d;
  color: #029c5d;
  outline: none;
}

/* line 49, ../sass/imports/_forms.scss */
input.input_big[type='number'] {
  font-size: 2em;
  width: 3.5em;
}

/* line 54, ../sass/imports/_forms.scss */
input[type='submit'], .submit {
  font-size: 2em;
  padding: .5em 1em;
  border: none;
  color: #efefef;
  background-color: #0055aa;
  border-radius: .25em;
  text-transform: uppercase;
  letter-spacing: .05em;
}
/* line 62, ../sass/imports/_forms.scss */
input[type='submit'].active, input[type='submit']:hover, input[type='submit']:focus, .submit.active, .submit:hover, .submit:focus {
  background-color: #029c5d;
}

/* line 67, ../sass/imports/_forms.scss */
.slider {
  background: #FFF;
  border-radius: 1em;
  padding: .75em .5em;
  vertical-align: middle;
}
/* line 72, ../sass/imports/_forms.scss */
.slider input, .slider output {
  vertical-align: middle;
}

/* line 77, ../sass/imports/_forms.scss */
input[type='range'] {
  width: 76%;
  max-width: 294px;
  display: inline-block;
}

/* line 82, ../sass/imports/_forms.scss */
output {
  width: 18%;
  margin-left: 2%;
  display: inline-block;
  color: #0055aa;
}

/* line 90, ../sass/imports/_forms.scss */
.tags label {
  font-size: .875em;
  display: inline-block;
  border-radius: 1em;
  background-color: #efefef;
  border: 2px solid #FFF;
  margin: 0;
  padding: .75em .5em;
  cursor: pointer;
}
/* line 99, ../sass/imports/_forms.scss */
.tags label:first-child, .tags label.first-child {
  margin-left: 0;
}
/* line 102, ../sass/imports/_forms.scss */
.tags label.active, .tags label:hover, .tags label:focus {
  background-color: #0055aa;
  color: #efefef;
}
/* line 106, ../sass/imports/_forms.scss */
.tags label input {
  display: none;
}

/* line 112, ../sass/imports/_forms.scss */
.tags_big label {
  font-size: 1em;
  padding: .75em 1.5em;
}

/* line 118, ../sass/imports/_forms.scss */
.fieldset_title {
  display: block;
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #b7bac5;
}
/* line 123, ../sass/imports/_forms.scss */
.fieldset_title i {
  font-style: normal;
  font-size: .75em;
}

/* line 1, ../sass/imports/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/imports/_main.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/imports/_main.scss */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 16, ../sass/imports/_main.scss */
body {
  font-size: 87.5%;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  background-color: #efefef;
}

/* line 26, ../sass/imports/_main.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 31, ../sass/imports/_main.scss */
a {
  color: #b7bac5;
  text-decoration: underline;
}

/* line 36, ../sass/imports/_main.scss */
a:hover,
a:focus {
  color: #029c5d;
  text-decoration: underline;
}

/* line 40, ../sass/imports/_main.scss */
a:focus {
  outline: none;
}

/* line 43, ../sass/imports/_main.scss */
figure {
  margin: 0;
}

/* line 46, ../sass/imports/_main.scss */
img {
  vertical-align: middle;
}

/* line 49, ../sass/imports/_main.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 58, ../sass/imports/_main.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.25;
  color: inherit;
}

/* line 65, ../sass/imports/_main.scss */
h1 {
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 0;
  padding: .75em 0;
  font-size: 1.25em;
}
/* line 70, ../sass/imports/_main.scss */
h1 span {
  font-size: .5em;
  display: inline-block;
}

/* line 77, ../sass/imports/_main.scss */
.img_flex {
  width: 100%;
  height: auto;
}

/* line 82, ../sass/imports/_main.scss */
.container {
  width: 96%;
  min-width: 280px;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 93, ../sass/imports/_main.scss */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #0055aa;
  color: #FFF;
}
/* line 101, ../sass/imports/_main.scss */
.navbar .container {
  border-bottom: 3px solid #0055aa;
}
/* line 104, ../sass/imports/_main.scss */
.navbar h1 {
  float: left;
}

/* line 109, ../sass/imports/_main.scss */
.social {
  float: right;
  padding: 1em 0;
}

/* line 114, ../sass/imports/_main.scss */
.header {
  padding: 6em 0 13em 0;
  background-color: #0055aa;
  color: #FFF;
}

/* line 120, ../sass/imports/_main.scss */
.intro {
  font-size: 1.25em;
  max-width: 600px;
  margin: 0 auto;
}

/* line 126, ../sass/imports/_main.scss */
.data_entry {
  width: 100%;
  max-width: 768px;
  margin-top: -10em;
  padding: .5em 2% 1.5em;
  background-color: #FFF;
}

/* line 134, ../sass/imports/_main.scss */
.currency_list {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 1.25em;
}
/* line 141, ../sass/imports/_main.scss */
.currency_list li {
  padding: .25em;
}
/* line 144, ../sass/imports/_main.scss */
.currency_list input {
  margin-right: .5em;
}
/* line 147, ../sass/imports/_main.scss */
.currency_list label {
  display: block;
  cursor: pointer;
  color: #b7bac5;
}
/* line 151, ../sass/imports/_main.scss */
.currency_list label:hover, .currency_list label.active {
  color: #0055aa;
}

/* line 157, ../sass/imports/_main.scss */
.explore {
  overflow: hidden;
  padding: 3em 0;
}

/* line 164, ../sass/imports/_main.scss */
.container_graph {
  height: 240px;
}

/* line 168, ../sass/imports/_main.scss */
.graph_placeholder {
  background-color: #FFF;
  min-height: 20em;
  min-width: 294px;
}

/* line 174, ../sass/imports/_main.scss */
.footer {
  clear: both;
  font-size: .875em;
  margin-top: 6em;
  padding: 2em 0;
  background-color: #b7bac5;
  color: #efefef;
}
/* line 181, ../sass/imports/_main.scss */
.footer a {
  color: #efefef;
}
/* line 183, ../sass/imports/_main.scss */
.footer a:hover, .footer a:focus, .footer a:active {
  color: #0055aa;
}

@media (min-width: 500px) {
  /* line 190, ../sass/imports/_main.scss */
  .data_entry {
    width: 96%;
    padding: 1.5em 5%;
  }
}
@media (min-width: 768px) {
  /* line 197, ../sass/imports/_main.scss */
  body {
    font-size: 100%;
  }

  /* line 200, ../sass/imports/_main.scss */
  .container_filter {
    width: 30%;
    float: right;
  }

  /* line 204, ../sass/imports/_main.scss */
  .container_graph {
    padding-top: 2em;
    height: 500px;
    width: 65%;
    float: left;
  }

  /* line 211, ../sass/imports/_main.scss */
  .tags label {
    margin: .25em;
    padding: .3em .5em;
  }

  /* line 217, ../sass/imports/_main.scss */
  .tags_big label {
    padding: .75em 1.5em;
  }
}
@media (min-width: 1024px) {
  /* line 224, ../sass/imports/_main.scss */
  .navbar, header {
    font-size: 1.25em;
  }
}
/* line 1, ../sass/imports/_graph.scss */
svg .bar rect {
  fill: #0055aa;
}

/* line 5, ../sass/imports/_graph.scss */
svg g {
  fill: #b7bac5;
}

/* line 8, ../sass/imports/_graph.scss */
svg .label {
  text-anchor: middle;
  font-size: 12px;
}
