/* line 1, ../sass/imports/_base.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 6, ../sass/imports/_base.scss */
body {
  margin: 0;
}

/* line 20, ../sass/imports/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 26, ../sass/imports/_base.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 30, ../sass/imports/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 35, ../sass/imports/_base.scss */
[hidden],
template {
  display: none;
}

/* line 38, ../sass/imports/_base.scss */
a {
  background: transparent;
}

/* line 42, ../sass/imports/_base.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 45, ../sass/imports/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 49, ../sass/imports/_base.scss */
b,
strong {
  font-weight: bold;
}

/* line 52, ../sass/imports/_base.scss */
dfn {
  font-style: italic;
}

/* line 56, ../sass/imports/_base.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 60, ../sass/imports/_base.scss */
small {
  font-size: 80%;
}

/* line 64, ../sass/imports/_base.scss */
img {
  border: 0;
}

/* line 67, ../sass/imports/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 70, ../sass/imports/_base.scss */
figure {
  margin: 1em 40px;
}

/* line 73, ../sass/imports/_base.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 83, ../sass/imports/_base.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 88, ../sass/imports/_base.scss */
button {
  overflow: visible;
}

/* line 92, ../sass/imports/_base.scss */
button,
select {
  text-transform: none;
}

/* line 98, ../sass/imports/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 103, ../sass/imports/_base.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 107, ../sass/imports/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 111, ../sass/imports/_base.scss */
input {
  line-height: normal;
}

/* line 115, ../sass/imports/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 120, ../sass/imports/_base.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 123, ../sass/imports/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 130, ../sass/imports/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 133, ../sass/imports/_base.scss */
fieldset {
  border: none;
  padding: 0;
}

/* line 137, ../sass/imports/_base.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 141, ../sass/imports/_base.scss */
textarea {
  overflow: auto;
}

/* Colors */
/* line 1, ../sass/imports/_forms.scss */
fieldset {
  padding: 0;
  margin: 0 0 1.5em 0;
  border: none;
}

/* line 8, ../sass/imports/_forms.scss */
input[type='text'],
input[type='number'] {
  font-size: .875em;
  padding: .5em;
  border: 1px solid #b7bac5;
  max-width: 5em;
  border-radius: .25em;
}
/* line 14, ../sass/imports/_forms.scss */
input[type='text'].active, input[type='text']:hover, input[type='text']:focus,
input[type='number'].active,
input[type='number']:hover,
input[type='number']:focus {
  border-color: #b7bac5;
  color: #b7bac5;
}

/* line 20, ../sass/imports/_forms.scss */
input.input_big[type='number'] {
  font-size: 1.5em;
}

/* line 24, ../sass/imports/_forms.scss */
input[type='submit'] {
  font-size: 1.25em;
  padding: .5em;
  border: none;
  background-color: #ff1d5d;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #efefef;
}
/* line 31, ../sass/imports/_forms.scss */
input[type='submit'].active, input[type='submit']:hover, input[type='submit']:focus {
  background-color: #b7bac5;
}

/* line 37, ../sass/imports/_forms.scss */
.tags label {
  font-size: .875em;
  display: inline-block;
  border-radius: 1em;
  background-color: #efefef;
  border: 1px solid #FFF;
  margin: .25em;
  padding: .25em .5em;
  cursor: pointer;
}
/* line 46, ../sass/imports/_forms.scss */
.tags label.active, .tags label:hover, .tags label:focus {
  background-color: #ff1d5d;
  color: #efefef;
}
/* line 50, ../sass/imports/_forms.scss */
.tags label input {
  margin-right: .5em;
}

/* line 57, ../sass/imports/_forms.scss */
.fieldset_title {
  display: block;
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #b7bac5;
}
/* line 62, ../sass/imports/_forms.scss */
.fieldset_title i {
  font-style: normal;
  font-size: .75em;
}

/* line 1, ../sass/imports/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/imports/_main.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/imports/_main.scss */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 16, ../sass/imports/_main.scss */
body {
  font-size: 87.5%;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  background-color: #efefef;
}

/* line 26, ../sass/imports/_main.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 31, ../sass/imports/_main.scss */
a {
  color: #b7bac5;
  text-decoration: none;
}

/* line 36, ../sass/imports/_main.scss */
a:hover,
a:focus {
  color: #b7bac5;
  text-decoration: underline;
}

/* line 40, ../sass/imports/_main.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 45, ../sass/imports/_main.scss */
figure {
  margin: 0;
}

/* line 48, ../sass/imports/_main.scss */
img {
  vertical-align: middle;
}

/* line 51, ../sass/imports/_main.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 60, ../sass/imports/_main.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.25;
  color: inherit;
}

/* line 67, ../sass/imports/_main.scss */
h1 {
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 0;
  padding: .75em 0;
  font-size: 1.25em;
}
/* line 72, ../sass/imports/_main.scss */
h1 span {
  font-size: .5em;
  display: inline-block;
}

/* line 79, ../sass/imports/_main.scss */
.img_flex {
  width: 100%;
  height: auto;
}

/* line 84, ../sass/imports/_main.scss */
.container {
  width: 96%;
  min-width: 280px;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  padding-right: 2%;
}

@media (min-width: 768px) {
  /* line 96, ../sass/imports/_main.scss */
  body {
    font-size: 100%;
  }
}
/* line 102, ../sass/imports/_main.scss */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #ff1d5d;
  color: #FFF;
}
/* line 110, ../sass/imports/_main.scss */
.navbar .container {
  border-bottom: 3px solid #ff1d5d;
}

/* line 115, ../sass/imports/_main.scss */
.header {
  padding: 6em 0 10em 0;
  background-color: #ff1d5d;
  color: #FFF;
}

/* line 121, ../sass/imports/_main.scss */
.intro {
  font-size: 1.25em;
  max-width: 600px;
}

/* line 126, ../sass/imports/_main.scss */
.data_entry {
  margin-top: -7em;
  padding: 1.5em 2%;
  background-color: #FFF;
}

/* line 132, ../sass/imports/_main.scss */
.currency_list {
  display: inline-block;
  padding-left: .5em;
  list-style: none;
  font-size: .75em;
}

/* line 139, ../sass/imports/_main.scss */
.explore {
  overflow: hidden;
  padding: 2em 0;
}

/* line 144, ../sass/imports/_main.scss */
.container_filter {
  width: 30%;
  float: left;
}

/* line 149, ../sass/imports/_main.scss */
.container_graph {
  width: 65%;
  float: right;
}

/* line 154, ../sass/imports/_main.scss */
.graph_placeholder {
  background-color: #FFF;
  min-height: 20em;
  min-width: 288px;
}

/* line 160, ../sass/imports/_main.scss */
.footer {
  clear: both;
  margin-top: 6em;
  padding: 2em 0;
  background-color: #b7bac5;
  color: #efefef;
}
/* line 166, ../sass/imports/_main.scss */
.footer a {
  color: #efefef;
}
