fieldset {
  padding: 0;
  margin: 0 0 1em 0;
  border: none;
}

.fieldset_inline {
  display: inline-block;
  max-width: 48%;
  margin-right: 2%;
}

.form_group {
  margin: 1em 0 2em 0;
  padding: 1em 0;
  border-top: 2px solid $color_bg;
  border-bottom: 2px solid $color_bg;
}
.form_group_1 {
  padding-top: 1.5em;
  text-align: center;
  fieldset {
    margin-right: 2em;
  }
  fieldset, input[type='submit'] {
    display: inline-block;
  }
}

input[type='text'],
input[type='number'] {
  font-size: 1.25em;
  padding: .5em;
  border: 2px solid $color_medium;
  max-width: 5em;
  border-radius: .25em;
  text-align: center;
  &.active, &:hover, &:focus, &:active {
    border-color: $color_hover;
    color: $color_hover;
    outline: none;
  }
}

input.input_big[type='number'] {
  font-size: 2em;
  width: 3.5em;
}

input[type='submit'] {
  font-size: 2em;
  padding: .5em 1em;
  border: none;
  color: $color_bg;
  background-color: $color_highlight;
  border-radius: .25em;
  @include uppercase;
  &.active, &:hover, &:focus {
    background-color: $color_hover;
  }
}

.slider {
  background: #FFF;
  border-radius: 1em;
  padding: .75em .5em;
  vertical-align: middle;
  input, output {
    vertical-align: middle;
  }
}

input[type='range'] {
  width: 76%;
  max-width: 294px;
  display: inline-block;
}
output {
  width: 18%;
  margin-left: 2%;
  display: inline-block;
  color: $color_highlight;
}

.tags {
  label {
    font-size: .875em;
    display: inline-block;
    border-radius: 1em;
    background-color: $color_bg;
    border: 2px solid #FFF;
    margin: 0;
    padding: .75em .5em;
    cursor: pointer;
    &:first-child, &.first-child {
      margin-left: 0;
    };
    &.active, &:hover, &:focus {
      background-color: $color_highlight;
      color: $color_bg;
    }
    input {
      display: none;
    }
  }
}
.tags_big {
  label {
    font-size: 1em;
    padding: .75em 1.5em;
  }
}

.fieldset_title {
  display: block;
  font-size: .875em;
  @include uppercase;
  color: $color_medium;
  i {
    font-style: normal;
    font-size: .75em;
  }
}