* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 87.5%;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $color_text;
  background-color: $color_bg;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: $color_medium;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: $color_hover;
  text-decoration: underline;
}
a:focus {
  outline: none;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.25;
  color: inherit;
}

h1 {
  @include uppercase;
  margin: 0;
  padding: .75em 0;
  font-size: 1.25em;
  span {
    font-size: .5em;
    display: inline-block;
  }
}


.img_flex {
  width: 100%;
  height: auto;
}

.container {
  width: 96%;
  min-width: 280px;
  max-width: 1240px;

  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $color_highlight;
  color: #FFF;
  .container {
    border-bottom: 3px solid $color_highlight;
  }
}

.header {
  padding: 6em 0 13em 0;
  background-color: $color_highlight;
  color: #FFF;
}

.intro {
  font-size: 1.25em;
  max-width: 600px;
}

.data_entry {
  width: 100%;
  max-width: 768px;
  margin-top: -10em;
  padding: .5em 2% 1.5em;
  background-color: #FFF;
}

.currency_list {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 1.25em;
  li {
    padding: .25em;
  }
  input {
    margin-right: .5em;
  }
  label {
    display: block;
    cursor: pointer;
    color: $color_medium;
    &:hover, &.active {
      color: $color_highlight;
    }
  }
}

.explore {
  overflow: hidden;
  padding: 3em 0;
}

.container_filter {
}
.container_graph {
  height: 240px;
}

.graph_placeholder {
  background-color: #FFF;
  min-height: 20em;
  min-width: 294px;
}

.footer {
  clear: both;
  font-size: .875em;
  margin-top: 6em;
  padding: 2em 0;
  background-color: $color_medium;
  color: $color_bg;
  a {
    color: $color_bg;
    &:hover, &:focus, &:active {
      color: $color_highlight;
    }
  }
}

@media (min-width: 500px) {
  .data_entry {
    width: 96%;
    padding: 1.5em 5%;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .container_filter {
    width: 30%;
    float: left;
  }
  .container_graph {
    padding-top: 2em;
    height: 500px;
    width: 65%;
    float: right;
  }
  .tags {
    label {
      margin: .25em;
      padding: .3em .5em;
      cursor: pointer;
    }
  }
}

@media (min-width: 1024px) {
  .navbar, header {
    font-size: 1.25em;
  }
}
